@charset "utf-8";

/* common */
:root {
  --font-base: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  --font-title: Cinzel, Georgia, "Times New Roman", serif;
  --corporate-color: #619E93;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: var(--font-base);
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
dl,
dd,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: bottom;
}

button:focus-visible,
a:focus-visible {
  outline: 3px solid #1f4f48;
  outline-offset: 4px;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mask.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* HERO以下のコンテンツ幅 */
.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 32px;
}

/* 一部セクションタイトル */
.section-title {
  display: flex;
}

.section-title i {
  font-size: 3.6em;
  margin-right: 16px;
  color: white;
}

.section-title h2 {
  font-size: 3.6em;
  font-weight: 500;
  color: white;
}

/* Modal */
.modal {
  position: fixed;
  top: 40px;
  left: 50%;
  z-index: 100;
  width: 900px;
  height: auto;
  max-height: calc(100vh - 80px);
  padding: 32px;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
  text-align: center;
  transform: translateX(-50%);
}

.modal p {
  margin-top: 16px;
  font-size: 1.6em;
}

.modal-close {
  border: none;
  display: inline-block;
  width: 200px;
  margin-top: 24px;
  padding: 16px;
  color: white;
  background: var(--corporate-color);
  border-radius: 8px;
  font-size: 1.4em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-close:hover {
  background: #9CCAC2;
  transform: translateY(2px);
}

/* HERO */
#hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url(images/hero.webp) center/ cover no-repeat;
}

#hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 144px;
}

#hero header .logo {
  padding: 32px;
}

#hero .hero-text {
  position: absolute;
  top: 150px;
  left: 80px;
  display: block;
}

#hero .hero-text h1 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 8.0em;
  color: white;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero .hero-text p {
  color: white;
  font-size: 2.8em;
  letter-spacing: 0.15em;
  font-weight: 300;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

#hero .hero-text .tour-form {
  font-size: 1.6em;
  color: white;
  text-decoration: none;
  padding: 18px 40px;
  border: 3px solid #fff;
  border-radius: 8px;
  display: inline-block;
  margin-top: 48px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

/* Hamburger Menu */
#hero header #menu {
  padding: 8px;
  margin: 32px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  line-height: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

#hero header #menu #menu-open.hide {
  display: none;
}

#hero header #menu i.active {
  display: block;
  font-size: 5.0em;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  color: white;
}

#hero header #menu i {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 32px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 0.8s, opacity 0.8s;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

#hamburger-menu #menu-close {
  border: none;
  position: absolute;
  top: 0;
  left: -95px;
  font-size: 3.2em;
  background: rgba(0, 0, 0, 0.4);
  padding: 16px 32px;
  color: white;
  cursor: pointer;
}

#hamburger-menu ul li+li {
  margin-top: 16px;
}

#hamburger-menu ul li a {
  position: relative;
  display: inline-block;
  font-size: 2.4em;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}

#hamburger-menu ul li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.85);
}

/* ABOUT */
#about .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: white;
}

#about .inner .about-text {
  min-width: 480px;
}

#about .inner .about-text h2 {
  font-size: 3.6em;
  font-weight: 500;
}

#about .inner .about-text p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
}

#about .inner .about-text p+p {
  margin-top: 16px;
}

#about .inner .about-text ul.tags {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  gap: 16px;
  font-size: 1.6em;
  color: #D8D8D8;
}

#about .inner .about-text ul.tags .tag {
  border: 1px solid #D8D8D8;
  border-radius: 999px;
  padding: 8px 16px;
  cursor: default;
}

#about .inner .about-img img {
  width: 880px;
  max-width: 100%;
  height: auto;
}

/* Tour-Plan */
#tour-plan {
  background: #6A9B9D;
}

#tour-plan .inner .course {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

#tour-plan .inner .course .course-item {
  text-decoration: none;
  transition: transform 0.3s;
  width: 100%;
  text-align: center;
}

#tour-plan .inner .course .course-item:hover {
  transform: scale(1.03);
}

#tour-plan .inner .course .course-item+.course-item {
  margin-left: 24px;
}

#tour-plan .inner .course .course-item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

#tour-plan .inner .course .course-item p {
  text-align: center;
  color: white;
  margin-top: 24px;
  font-size: 1.6em;
}

/* Popular-Spot */
#popular-spot {
  background: #7B946E;
}

#popular-spot .inner .grid-container {
  margin-top: 80px;
  display: grid;
  gap: 24px;
  place-content: center;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, 240px);
}

#popular-spot .inner .grid-container .grid-item1 {
  background: url(images/popular-spot-01.webp) center/cover no-repeat;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#popular-spot .inner .grid-container .grid-item2 {
  background: url(images/popular-spot-02.webp) center/cover no-repeat;
  grid-column: 3;
  grid-row: 1 / 3;
}

#popular-spot .inner .grid-container .grid-item3 {
  background: url(images/popular-spot-03.webp) center/cover no-repeat;
}

#popular-spot .inner .grid-container .grid-item4 {
  background: url(images/popular-spot-04.webp) center/cover no-repeat;
  grid-column: 4;
  grid-row: 2 / 4;
}

#popular-spot .inner .grid-container .grid-item5 {
  background: url(images/popular-spot-05.webp) center/cover no-repeat;
}

#popular-spot .inner .grid-container .grid-item6 {
  background: url(images/popular-spot-06.webp) center/cover no-repeat;
  grid-column: 2 / 4;
  grid-row: 3;
}

#popular-spot .inner .grid-container .grid-item {
  border: none;
  box-sizing: border-box;
  padding: 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
  transition: transform 0.3s;
  cursor: pointer;
}

#popular-spot .inner .grid-container .grid-item:hover {
  transform: scale(1.03);
}

#popular-spot .inner .grid-container .grid-item .black-bg {
  display: block;
  width: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
}

#popular-spot .inner .grid-container .grid-item .black-bg span {
  color: white;
  font-size: 1.6em;
}

/* Popular Spot Modal */
.popular-spot-modal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Gallery */
#gallery {
  background: linear-gradient(var(--corporate-color), #fff);
}

#gallery .inner .gallery-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#gallery .inner .gallery-container .gallery-item {
  border: none;
  padding: 0;
  font-size: 1em;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: end;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

#gallery .inner .gallery-container .gallery-item:hover {
  transform: scale(1.03);
}

#gallery .inner .gallery-container .gallery-item .white-bg {
  display: block;
  background: white;
  width: 100%;
  padding: 24px;
  text-align: center;
}

#gallery .inner .gallery-container .gallery-item .white-bg span {
  font-size: 1.6em;
  color: #000;
}

#gallery .inner .gallery-container .gallery-item1 {
  background: url(images/gallery-01.webp) center/cover no-repeat;
}

#gallery .inner .gallery-container .gallery-item2 {
  background: url(images/gallery-02.webp) center/cover no-repeat;
}

#gallery .inner .gallery-container .gallery-item3 {
  background: url(images/gallery-03.webp) center/cover no-repeat;
}

#gallery .inner .gallery-container .gallery-item4 {
  background: url(images/gallery-04.webp) center/cover no-repeat;
}

/* Gallery Modal */
.gallery-modal img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

/* NEWS */
#news .inner {
  display: flex;
  justify-content: center;
  background: white;
}

#news .inner h2 {
  font-size: 3.6em;
  font-family: var(--font-title);
  font-weight: 700;
  margin-right: 40px;
}

#news .inner .news-container {
  width: 900px;
  position: relative;
  min-height: 240px;
}

#news .inner .news-container .news-tabs {
  display: flex;
}

#news .inner .news-container .news-tabs li button {
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
  font-size: 2.4em;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s;
  cursor: pointer;
}

#news .inner .news-container .news-tabs li button:hover {
  transform: translateY(2px);
}

#news .inner .news-container .news-tabs li button.active {
  border-bottom: 4px solid var(--corporate-color);
}

#news .inner .news-container .news-tabs li {
  padding: 0 16px 16px;
  margin-right: 16px;
}

#news .inner .news-container .news-tabs li button:not(.active) {
  opacity: 0.6;
}

#news .inner .news-container .content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
  border-top: 1px solid var(--corporate-color);
  border-bottom: 1px solid var(--corporate-color);
  transition: transform 0.5s, opacity 0.5s;
  width: 100%;
  height: auto;
}

#news .inner .news-container .content.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

#news .inner .news-container .content dl+dl {
  border-top: 1px dotted var(--corporate-color);
}

#news .inner .news-container .content dl {
  display: flex;
  font-size: 1.6em;
  padding: 16px;
}

#news .inner .news-container .content dl dt {
  margin-right: 16px;
}

#news .inner .news-container .content dd a {
  color: var(--corporate-color);
}

/* Contact */
#contact {
  position: relative;
  background: url(images/contact.webp) center/cover no-repeat;
  overflow: hidden;
}

#contact::before {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

#contact .inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .inner .contact-logos {
  text-align: center;
  flex: 1;
}

#contact .inner .contact-logos p {
  margin-top: 40px;
  font-size: 1.6em;
  color: white;
}

#contact .inner .contact-form {
  flex: 1;
  text-align: center;
}

#contact .inner .contact-form button {
  border: none;
  display: inline-block;
  width: 500px;
  padding: 16px;
  font-size: 1.6em;
  background: var(--corporate-color);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s;
  cursor: pointer;
}

#contact .inner .contact-form button:hover {
  background: #9CCAC2;
  transform: translateY(2px);
}

/* contact modal */
#contact-open,
#contact-close {
  cursor: pointer;
}

#contact-modal {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-10px);
  width: 500px;
  padding: 32px 16px;
  background: white;
  border-radius: 4px;
  z-index: 100;
}

#contact-modal div {
  text-align: right;
}

#contact-close {
  border: none;
  background: none;
  display: inline-block;
  font-size: 2.4em;
  padding: 4px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 4px;
}

#contact-modal>p {
  font-size: 1.6em;
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  color: white;
  background: var(--corporate-color);
}

footer .inner {
  padding: 80px 32px 32px;
}

footer .footer-title {
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}

footer h2 {
  font-family: var(--font-title);
  font-size: 3.6em;
  font-weight: 400;
}

footer .footer-contact {
  display: inline-block;
  text-align: left;
  margin: 16px auto 0;
}

footer .footer-contact h3,
footer .footer-contact p {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4;
  letter-spacing: 0.1em;
}

footer .footer-sns {
  margin-top: 80px;
}

footer .footer-sns a {
  text-decoration: none;
  color: white;
}

footer .footer-sns a:hover {
  opacity: 0.8;
}

footer .footer-sns a i {
  font-size: 5.0em;
}

footer .footer-sns a+a {
  margin-left: 32px;
}

footer small {
  display: block;
  margin-top: 80px;
  font-size: 1.4em;
}

@media (max-width: 600px) {

  /* HERO以下のコンテンツ幅 */
  .inner {
    padding: 120px 16px;
  }

  /* 一部セクションタイトル */
  .section-title i {
    font-size: 2.4em;
  }

  .section-title h2 {
    font-size: 2.4em;
  }

  /* Modal */
  .modal {
    width: calc(100% - 16px - 16px);
  }

  /* HERO */
  #hero {
    background: url(images/hero-sp.webp) center/ cover no-repeat;
  }

  #hero header {
    height: auto;
  }

  #hero header .logo {
    padding: 20px;
  }

  #hero header .logo a img {
    width: 40px;
    height: 40px;
  }

  #hero .hero-text {
    top: 90px;
    left: 16px;
  }

  #hero .hero-text h1 {
    font-size: 3.2em;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }

  #hero .hero-text p {
    font-size: 1.6em;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }

  #hero .hero-text .tour-form {
    font-size: 1.4em;
    padding: 16px 20px;
    border: 2px solid #fff;
    margin-top: 40px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }

  /* Hamburger Menu */
  #hero header #menu {
    padding: 4px;
    margin: 20px;
  }

  #hero header #menu i.active {
    font-size: 2.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  .overlay {
    width: 100%;
    padding: 32px;
    text-align: center;
  }

  #hamburger-menu #menu-close {
    left: auto;
    right: 0;
    font-size: 2.5em;
    background: none;
    padding: 16px 32px;
  }

  #hamburger-menu ul li a img {
    width: 40px;
    height: 40px;
  }

  #hamburger-menu ul li a {
    font-size: 2.0em;
  }

  #hamburger-menu ul li a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.85);
  }

  /* ABOUT */
  #about .inner {
    flex-direction: column;
  }

  #about .inner .about-text {
    min-width: 100%;
  }

  #about .inner .about-text h2 {
    font-size: 2.4em;
  }

  #about .inner .about-text ul.tags {
    gap: 10px;
    font-size: 1.4em;
  }

  #about .inner .about-text ul.tags .tag {
    padding: 4px 10px;
  }

  #about .inner .about-img {
    margin-top: 40px;
  }

  #about .inner .about-img img {
    width: 100%;
  }

  /* Tour-Plan */
  #tour-plan .inner .course {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    justify-items: center;
  }

  #tour-plan .inner .course .course-item+.course-item {
    margin-left: 0;
  }

  #tour-plan .inner .course .course-item img {
    max-width: 160px;
  }

  #tour-plan .inner .course .course-item p {
    margin: 12px 0 40px;
  }

  /* Popular-Spot */
  #popular-spot .inner .grid-container {
    margin-top: 40px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, 260px);
    gap: 32px;
  }

  #popular-spot .inner .grid-container .grid-item1 {
    background: url(images/popular-spot-01-sp.webp) center/cover no-repeat;
    grid-column: span 2;
    grid-row: span 2;
    order: 1;
  }

  #popular-spot .inner .grid-container .grid-item2 {
    background: url(images/popular-spot-02-sp.webp) center/cover no-repeat;
    grid-column: span 1;
    grid-row: span 2;
    order: 2;
  }

  #popular-spot .inner .grid-container .grid-item3 {
    background: url(images/popular-spot-03-sp.webp) center/cover no-repeat;
    order: 4;
  }

  #popular-spot .inner .grid-container .grid-item4 {
    background: url(images/popular-spot-04-sp.webp) center/cover no-repeat;
    grid-column: span 1;
    grid-row: span 2;
    order: 3;
  }

  #popular-spot .inner .grid-container .grid-item5 {
    background: url(images/popular-spot-05-sp.webp) center/cover no-repeat;
    order: 5;
  }

  #popular-spot .inner .grid-container .grid-item6 {
    background: url(images/popular-spot-06-sp.webp) center/cover no-repeat;
    grid-column: span 2;
    grid-row: span 1;
    order: 6;
  }

  /* Popular Spot Modal */
  .popular-spot-modal img {
    height: auto;
  }

  /* Gallery */
  #gallery .inner .gallery-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  #gallery .inner .gallery-container .gallery-item1 {
    background: url(images/gallery-01-sp.webp) center/cover no-repeat;
  }

  #gallery .inner .gallery-container .gallery-item2 {
    background: url(images/gallery-02-sp.webp) center/cover no-repeat;
  }

  #gallery .inner .gallery-container .gallery-item3 {
    background: url(images/gallery-03-sp.webp) center/cover no-repeat;
  }

  #gallery .inner .gallery-container .gallery-item4 {
    background: url(images/gallery-04-sp.webp) center/cover no-repeat;
  }

  /* Gallery Modal */
  .gallery-modal img {
    width: 100%;
    height: auto;
  }

  /* NEWS */
  #news .inner {
    flex-direction: column;
  }

  #news .inner h2 {
    font-size: 2.4em;
    margin-right: 0;
  }

  #news .inner .news-container {
    width: 100%;
    position: relative;
    min-height: 320px;
    margin-top: 40px;
  }

  #news .inner .news-container .news-tabs li button {
    font-size: 2.0em;
  }

  /* Contact */
  #contact {
    background: url(images/contact-sp.webp) center/cover no-repeat;
  }

  #contact .inner {
    flex-direction: column;
  }

  #contact .inner .contact-form {
    margin-top: 40px;
  }

  #contact .inner .contact-form button {
    width: 250px;
    padding: 16px;
  }

  /* contact modal */

  #contact-modal {
    top: 80px;
    right: 0;
    width: calc(100% - 16px - 16px);
    padding: 40px 16px;
  }

  #contact-close {
    font-size: 2.4em;
    top: 4px;
  }

  /* Footer */
  footer .inner {
    padding: 60px 16px 32px;
  }

  footer h2 {
    font-size: 2.0em;
  }

  footer .footer-sns {
    margin-top: 40px;
  }

  footer small {
    margin-top: 40px;
  }
}